# Emplacement et nom : /usr/share/ResPinGuy-File-Config/dracut.config
############################################################################
# Validé

add_dracutmodules+=squash
hostonly="yes"
root="/dev/ram0"
init="/sbin/"
cmdline+=rootfstype=squashfs
cmdline+=rd.live.squashimg=filesystem.squashfs

############################################################################
# Test/maintenance en cours :

cmdline+=rd.live.dir=/live/
#cmdline+=rd.live.dir=/respinguy-build-dir/live/

#cmdline+=rd.live.overlay=tmpfs
#cmdline+=rd.live.overlay.readonly

############################################################################
