# Emplacement et nom : /usr/share/ResPinGuy-File-Config/dracut.config

hostonly="yes"

cmdline="root=/dev/ram0 ro rootfstype=squashfs rd.live.squashimg=filesystem.squashfs rd.luks=0 rd.md=0 rd.dm=0"


#add_dracutmodules+=" squash "
#add_drivers+=" squashfs "
#cmdline="root=/dev/ram0 ro rd.live.image selinux=0 rd.luks=0 rd.md=0 rd.dm=0"
#install_items+="/respinguy-build-dir/live/filesystem.squashfs"
